plyfile
ipython
numpy==1.26.4
matplotlib
Pillow
imageio
imageio-ffmpeg==0.6.0
rembg[gpu]
lpips
einops
safetensors
sentencepiece
accelerate
diffusers==0.32
kiui
omegaconf
pyarrow
redis
loguru
pandas
bitsandbytes==0.45.3
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
gradio==4.44.1
jupyterlab==4.3.4
kornia==0.8.0
open3d==0.19.0
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
PyYAML==6.0.2
safetensors==0.5.2
scikit-image==0.24.0
scikit-learn==1.6.0
scipy==1.13.1
six==1.17.0
tinycudann @ git+https://github.com/NVlabs/tiny-cuda-nn/@394bfd25209c34cd3986c605b0417042eec62b8c#subdirectory=bindings/torch
tokenizers==0.21.0
torchmetrics==1.6.1
peft==0.14.0
einops==0.8.0
wandb==0.19.4
transformers==4.48.2
ml_collections==0.1.1
scikit-image==0.24.0
kiui @ git+https://github.com/ashawkey/kiuikit@73e34203fd3bd4b5979dc3a38057dff117b39521
omegaconf==2.3.0
plyfile==1.1
opencv-python
sentencepiece==0.2.0